In [1]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print(i,a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [2]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [ ]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

In [3]:
for i, char in enumerate("Python"):
    print(f"Character at position {i}: {char}")

Character at position 0: P
Character at position 1: y
Character at position 2: t
Character at position 3: h
Character at position 4: o
Character at position 5: n

In [6]:
for i, char in enumerate("Helo, xinchao!"):
    print(f"{i}, {char}")

0, H
1, e
2, l
3, o
4, ,
5,
6, x
7, i
8, n
9, c
10, h
11, a
12, o
13, !

In [8]:
fruits = ['apple', 'banana', 'cherry']
indexed_fruits = [f"{i+1}: {fruit}" for i, fruit in enumerate(fruits)]
print(indexed_fruits)

['1: apple', '2: banana', '3: cherry']

In [31]:
[x*2 for x in range(2,11)]

[4, 6, 8, 10, 12, 14, 16, 18, 20]

In [33]:
sum(range(10))

45

In [34]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(f"{n} equals {x} * {n//x}")
            break

4 equals 2 * 2
6 equals 2 * 3
8 equals 2 * 4
9 equals 3 * 3

In [ ]:
def fib(n):
    """print a fibonacci series less than n"""
    a,b = 0,1
    while a< n:
        print(a, end=' ')

In [1]:
for n in range(2,12):
    for x in range(2,n):
        if n % x == 0:
            print(f"{n} equals {x} * {n//x}")
            break

4 equals 2 * 2
6 equals 2 * 3
8 equals 2 * 4
9 equals 3 * 3
10 equals 2 * 5

In [7]:
# Prime number

for n in range (2,15):
    for x in range(2,n):
        if n % x ==0:
            print(n, 'equals', x , '*', n//x)
            break
    
    else:
            print(n,"prime")

2 prime
3 prime
4 equals 2 * 2
5 prime
6 equals 2 * 3
7 prime
8 equals 2 * 4
9 equals 3 * 3
10 equals 2 * 5
11 prime
12 equals 2 * 6
13 prime
14 equals 2 * 7